* {
  margin: 0;
  padding: 0;
  font-family: MyFont, Calibri, sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url(./font/Zantroke.otf);
}

#root {
  height: 100vh;
}

body {
  background-color: rgb(100, 100, 100);
  overflow-x:hidden;  
}

.lottery-container {
  background-position: center;
  background-size: 100% 100%;
}

.lottery-container2 {
  position: absolute;


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}

.draw-button {
  width: 16rem;
  height: 4rem;
  font-weight: 900 !important;
}

.winner-list-button,
.reset-button {
  font-weight: 900 !important;
}

.text-display {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  border-radius: 3rem 3rem 3rem 3rem;
  border: 10px dotted rgb(255, 198, 54);

  box-shadow: 0px 0px 20px 10px #48abe0;
  animation: shadows 1.5s infinite;
}

@keyframes shadows {
  0% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #48abe0;
  }

  50% {
    text-shadow: blueviolet 0 0 10px;
    box-shadow: 0px 0px 20px 10px blueviolet;
  }

  75% {
    text-shadow: rebeccapurple 0 0 10px;
    box-shadow: 0px 0px 20px 10px rebeccapuprle;
  }

  100% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #48abe0;
  }
}

.text-randomizer {
  color: white;
  font-size: 5rem;
  font-weight: 550 !important;
  letter-spacing: 0.5;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-randomizer-name {
  color: white;
  font-size: 6rem;
  font-weight: 650 !important;
  letter-spacing: 0.5rem;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border-radius-button {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.ttt {
  border: 1px red solid;
}

.card {
  background-color: rgba(245, 245, 245, 0.0) !important;
}

.card-casino {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: transform 0.5s;
}

.card-casino.flipped {
  transform: rotateY(180deg);
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.card-button {
  width: 15% !important;
}

.flip-button-color-red {
  background-color: #ff2e17 !important;
  color: white !important;
  border: none;
}

.flip-button-color-blue {
  background-color: #1741ff !important;
  color: white !important;
  border: none;
}

.draw-button-color {
  background-color: #1783ff !important;
  color: white !important;
  border: none;
}

.first-data {
  color: red;
}

.second-data {
  color: yellow;
}

.card-logo {
  position: absolute;
  left: 55vh;
  top: 0%;
  width: 40vw;
  height: 40vh;
}

.h-40 {
  height: 40% !important;
}

.h-35 {
  height: 35% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-15 {
  height: 15% !important;
}

.h-10 {
  height: 10% !important;
}

.h-5 {
  height: 5% !important;
}

.accordion-bg {
  background-color: rgb(231, 231, 231);
}

.player-txt-bg {
  color: rgb(252, 33, 33);
  background-color: rgb(252, 185, 29);
  border-radius: 1rem;
}

.card-image-test {
  max-height: 30rem;
}

.row-hide {
  overflow: hidden !important;
}

.row-hide2 {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.row-hide2::-webkit-scrollbar {
  display: none;
}

/* src/styles/baccarat.css */

/* Card flip animation */
.card {
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  /* Ensure proper rendering in 3D space */
}

.card.flip {
  transform: rotateY(180deg);
  transform-origin: center top;
  /* Set the rotation origin to the top */
}

/* Correct the card image orientation */
.card img {
  transform: rotateY(0deg);
  /* Ensure the image is not inverted */
}

.card.flip img {
  transform: rotateY(180deg);
  /* Rotate the image when flipped */
}

/* src/styles/baccarat.css */

/* Card flip animation */
.card {
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* Ensure proper rendering in 3D space */
}

.card.flip {
  transform: rotateY(180deg);
  transform-origin: center top; /* Set the rotation origin to the top */
}

/* Correct the card image orientation */
.card img {
  transform: rotateY(0deg); /* Ensure the image is not inverted */
}

.card.flip img {
  transform: rotateY(180deg); /* Rotate the image when flipped */
}
